@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #a1a1aa;
  --gray: #f3f4f6;
}

/* .rainbow-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-warning-100 to-yellow-500;
}

.rainbow-bg {
  @apply bg-gradient-to-r from-warning-100 to-yellow-500;
} */

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--gray) var(--accent);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: var(--gray);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 5px;
    border: 3px solid var(--gray);
  }

  html,
  body,
  #__nuxt {
    @apply min-h-screen bg-accent-100 mt-7;
  }

  img {
    @apply block w-full;
  }

  h1 {
    @apply text-4xl leading-3 md:text-6xl xl:text-7xl;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-4xl;
  }
  h4 {
    @apply text-lg md:text-xl lg:text-xl;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold leading-tight tracking-wide;
  }

  a,
  p,
  li {
    @apply text-base leading-snug tracking-wide xl:text-lg;
  }

  .footer-link {
    cursor: pointer;
  }

  .footer-link:after {
    display: block;
    content: '';
    border-bottom: solid 1px #d2ff52;
    transform: scaleX(0);
    transition: transform 100ms ease-in-out;
  }
  .footer-link:hover:after {
    transform: scaleX(1);
  }
}

@layer utilities {
  .site-padding {
    @apply max-w-screen-xl px-4 mx-auto sm:px-6 md:px-8 xl:px-12 xl:max-w-screen-2xl;
  }
}
